body {
  font-family: "Roboto", sans-serif;
  color: #363636;
}

h1,
h2,
h3,
h4,
h5,
p,
footer {
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 58px;
  margin: 10px 0 10px 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  margin: 20px 30px 10px 30px;
  text-transform: capitalize;
}

h5 {
  font-size: 20px;
  margin: 5px 15px 20px 15px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px;
  padding: 5px;
}

footer {
  font-size: 15px;
  margin: 40px 20px 15px 20px;
}

.container {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
  max-width: 475px;
  margin: 15px auto;
  border: 1px solid #f5efef;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin: 20px 10px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #d3cbc8;
}

.search-button {
  margin: 5px 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #d3cbc8;
  transition: all 240ms ease-in-out;
}

.current-location-button {
  margin: 5px 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #d3cbc8;
  transition: all 240ms ease-in-out;
}

.search-button :hover,
.current-location-button :hover {
  cursor: default;
  color: #363636;
  opacity: 0.5;
}

.active {
  color: #363636;
}

.active:hover {
  cursor: default;
  text-decoration: none;
}

.mainTemperature {
  margin: 40px;
}

.row.weatherDetails {
  margin: 5px 15px 20px 15px;
  padding: 0;
  font-size: 15px;
}

.col-4 {
  margin: 0;
  padding: 5px;
}

.row.forecast,
.forecast-temperature {
  margin: 10px;
}

.col-2 {
  font-size: 20px;
  text-align: center;
  margin: 5px;
  padding: 0px;
}

.col-2 img {
  width: 100%;
}

.fa-sun {
  color: #f78259;
}

.forecast-temperature {
  font-size: 14px;
  text-align: center;
  margin: 5px;
  padding: 0;
}

@media (min-width: 580px) {
  #search,
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0 15px;
  }
}
