body {
  font-family: "Roboto", sans-serif;
  color: #363636;
}

h1,
h2,
h3,
h4,
h5,
p,
footer {
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 58px;
  margin: 10px 0 10px 0;
  padding: 0;
}

h4 {
  font-size: 20px;
  margin: 20px 30px 10px 30px;
  text-transform: capitalize;
}

h5 {
  font-size: 20px;
  margin: 5px 15px 20px 15px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px;
  padding: 5px;
}

footer {
  font-size: 15px;
  margin: 40px 20px 15px 20px;
}

.container {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  max-width: 475px;
  margin: 15px auto;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin: 20px 10px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: #f6eae9;
}

.search-button {
  margin: 5px 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f6eae9;
}

.current-location-button {
  margin: 5px 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f6eae9;
}

.search-button :hover,
.current-location-button :hover {
  cursor: default;
  color: #f78259;
}

.active {
  color: #363636;
}

.active:hover {
  cursor: default;
  text-decoration: none;
}

.mainTemperature {
  margin: 40px;
}

.row.weatherDetails {
  margin: 5px 15px 20px 15px;
  padding: 0;
  font-size: 15px;
}

.col-4 {
  margin: 0;
  padding: 5px;
}

.row.forecast,
.forecast-icon,
.forecast-temperature {
  margin: 10px;
}

.col-2 {
  font-size: 25px;
  text-align: center;
  margin: 5px;
  padding: 0px;
}

.fa-sun {
  color: #f78259;
}

.forecast-temperature {
  font-size: 16px;
  text-align: center;
  margin: 5px;
  padding: 0;
}
